<p id="notice"><%= notice %></p>

<h1>今日の夕食を考えるページ</h1>

<%= link_to '料理投稿ページへ', new_instagram_path, class: 'btn btn-default btn-sm btn-success' %>
<br>
<br>

<%= link_to '料理検索ページへ', searches_path, class: 'btn btn-default btn-sm btn-success' %>
