// Place all the styles related to the menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.flash {
  color: white;
  padding-top: 10px;
}
header {
  width: 100%;
  background-color: #4169e1;
  height: 54px;
}

.navbar-default {
    border: 0;
}
.navbar {
    background-color: transparent;
    color: white;
    margin-bottom: 0px;
}
.navbar-default {
  .navbar-brand {
    color: #ccc;
    &:hover {
      color: white;
    }
  }
  .navbar-nav > li > a {
    color: #ccc;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-nav > .open > a {
    background-color: transparent;
    color: white;
    &:hover, &:focus {
      background-color: transparent;
      color: white;
    }
  }
}
@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ccc;
    text-align: center;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-default .navbar-toggle {
    background-color: transparent;
    &:hover, &:focus {
      background-color: transparent;
    }
  }
}

.main-header {
  padding-bottom: 15%;
  width: 100%;
  background-size: cover;
  background-image: image-url("header.jpg");
  background-attachment: fixed;
}

.main-header img {
  display: block;
  margin: 0 auto;
  width: 25%;
  padding-top: 15%;
}

.about {
  background-color: white;
  color: #333;
  padding: 80px;
}

.function {
  background-color: #e9e9e9;
  padding: 80px;
  padding-bottom: 185px;
}

.contents {
  padding-top:10px;
  margin-top:10px;
  height:auto;
  padding-bottom:80px;
  margin-bottom:100px;
}


footer {
  width: 100%;
  background-color:#4169e1;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  padding-bottom: 1px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
}

.page-top-btn {
  display: none;
  border-radius: 20px;
  background: #336699;
  width: 60px;
  height: 60px;
  transition: all 0.3s;
  cursor: pointer;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 20;
  &:hover {
  opacity: 0.5;
  }
  a {
    display: block;
    color: white;
    line-height: 60px;
    text-decoration: none;
  }
}