<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10 col-xs-10">
<h1>投稿編集</h1>

<%= render 'form' %>

<%= link_to 'Show', instagram_path, class: 'btn btn-primary btn-block' %> |
<%= link_to 'Back', instagrams_path, class: 'btn btn-primary btn-block' %>
</div>
</div>